<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.prowings.core.Student" name="std1" scope = "prototype" >
		<property name="rollNumber">
		<value>20</value>
		</property>
		
		<property name="name"> 
		<value>Sham</value>
		</property>

		<property name="address"> 
		<value>Mumbai</value>
		</property>
		
	</bean>

	<bean class="com.prowings.core.Person" name="p1" >
		<constructor-arg value="Ram" index="1"/>
		<constructor-arg value="10" index="0"/>
	</bean>
	
</beans>